<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
          <div class="product">
              <div class="gallery">
              <img src="..//assets/icwhs_512.webp">
          <div class="details">
              <h1>T-Shirt for mens</h1>
              <h2>$30.00</h2>
              <h3>40%off</h3>
              <p>mrangler is an American manufacturer of shoes, particularly workwear. </p>
              <form>    
                  <div class="size-select">
                      <p>Size</p>
                      <lable fir="small">S</lable>
                      <input type="radio" name="size" id="small">
                      <lable for="medium">M</lable>
                      <input type="radio" name="size" id="medium">
                      <lable for="large">L</lable>
                      <input type="radio" name="size" id="large">
                      <lable for="x-large">XL</lable>
                      <input type="radio" name="size" id="x-large">
                      <lable for="xx-large">XXL</lable>
                      <input type="radio" name="size" id="xx-large">
                    
                  </div>
                  <div class="color-select">
                      <p>Color</p>
                      <lable for="red">
                          <input type="radio" name="color" id="red">
                          <span class="color-1"></span>
                      </lable>
                       <lable for="green">
                          <input type="radio" name="color" id="green">
                          <span class="color-2"></span>
                      </lable>
                       <lable for="blue">
                          <input type="radio" name="color" id="blue">
                          <span class="color-3"></span>
                      </lable>
                       <lable for="pink">
                          <input type="radio" name="color" id="pink">
                          <span class="color-4"></span>
                      </lable>

                      
                  </div>
                  <div class="quantity-select">
                <p>Quantity</p>  
                <input type="number" value="1">
               
                  </div>
                  <button>Buy Now</button>
              </form>
          </div>
        </div>
        </div>
    </body>
</html>
